{%extends 'base/base.html'%}
{%load static%}
{%block stylesheet %}
<!-- <link rel="stylesheet" href="{%static 'kanban_board/css/main.css'%}"> -->
{%endblock%}
	{%block content%}
		{%csrf_token%}
		<!-- <div class="content-wrapper ">
			<div class="container-fluid">
				<div class="kanban1">
					<div class="status kanban__column" id="1">
						<div class="kanban__column-title">To DO</div>
						{%for item in items%}
						{%if item.product.column == 1%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
					<div class="status kanban__column" id="2">
						<div class="kanban__column-title">Doing</div>
						{%for item in items%}
						{%if item.product.column == 2%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
					<div class="status kanban__column" id="3">
						<div class="kanban__column-title">Done</div>
						{%for item in items%}
						{%if item.product.column == 3%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
				</div>
			</div>
		</div> -->
		
		<div class="content-wrapper kanban">
  
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					...
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add</button>
					</div>
				</div>
				</div>
			</div>
  
			<section class="content-header">
				<div class="container-fluid">
				  <div class="row">
					<div class="col-sm-6">
					  <h1>Kanban Board</h1>
					</div>
					<div class="col-sm-6 d-none d-sm-block">
					  <ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Kanban Board</li>
					  </ol>
					</div>
				  </div>
				</div>
			  </section>
			<section class="content pb-3">
			  <div class="container-fluid h-100">
				
				<div class="card card-row card-primary">
				  <div class="card-header">
					<h3 class="card-title">
					  To Do
					</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#staticBackdrop">
							<i class="far fa-plus-square"></i>
						</button>
					  </div>
				  </div>
				  <div class="status card-body" id="1">
					
						{%for item in items%}
						{%if item.product.column == 1%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
				  </div>
				</div>
				<div class=" card card-row card-default">
				  <div class="card-header bg-info">
					<h3 class="card-title">
					  In Progress
					</h3>
				  </div>
				  <div class="status card-body" id="2">
					
						{%for item in items%}
						{%if item.product.column == 2%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
					
				
				  </div>
				</div>
				<div class="card card-row card-success">
				  <div class="card-header">
					<h3 class="card-title">
					  Done
					</h3>
				  </div>
				  <div class="status card-body" id="3">
						{%for item in items%}
						{%if item.product.column == 3%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
				  </div>
				</div>
			  </div>
			</section>
		  </div>
		
{%endblock%}
{%block javascript%}
	<script src="{%static 'kanban_board/js/main.js'%}" type="module"></script>
{%endblock%}
</body>
</html>
