{%extends 'base/base.html'%}
{%load static%}
{%block stylesheet %}
<!-- <link rel="stylesheet" href="{%static 'kanban_board/css/main.css'%}"> -->
{%endblock%}
	{%block content%}
		{%csrf_token%}
		<!-- <div class="content-wrapper ">
			<div class="container-fluid">
				<div class="kanban1">
					<div class="status kanban__column" id="1">
						<div class="kanban__column-title">To DO</div>
						{%for item in items%}
						{%if item.product.column == 1%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
					<div class="status kanban__column" id="2">
						<div class="kanban__column-title">Doing</div>
						{%for item in items%}
						{%if item.product.column == 2%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
					<div class="status kanban__column" id="3">
						<div class="kanban__column-title">Done</div>
						{%for item in items%}
						{%if item.product.column == 3%}
						<div class="todo kanban__items" draggable="true" id="{{item.product.id}}">
							<div  class="kanban__item-input">
								<div class="row justify-content-between">
									<div class="col-sm-4">
										<h3>{{item.product.name}}</h3>
										<p>&#8377; {{item.product.price}}</p>
									</div>
									<div class="col-sm-4">
										<img class="rounded" src="{{item.product.img.url}}" width="100%" height="100%" alt="Product Img" style="object-fit: cover;" draggable="false">
									</div>
								</div>
							</div>
							<div class="kanban__dropzone"></div>
						</div>
						{%endif%}
						{%endfor%}
					</div>
				</div>
			</div>
		</div> -->
		
		<div class="content-wrapper kanban">
  
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<tbody>
								{%for product in products%}
								<!-- <div class="form-check" id="select{{product.id}}">
									<input width="50px" height="50px" class="form-check-input" type="checkbox" value="{{product.id}}" id="check{{product.id}}">
									<label class="form-check-label" for="check{{product.id}}">
									{{product.name}}
									</label>
								</div> -->
									<tr id="select{{product.id}}" >
										<th scope="row">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="{{product.id}}" id="check{{product.id}}">
											</div>
											
										</th>
										<td>
											<label class="form-check-label" for="check{{product.id}}">
											{{product.name}}
										</label>
										</td>
									</tr>
									
								{%empty%}
								<h5>You added all products in your board. Kindly Add a New Product</h5>
								{%endfor%}
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="addProduct" type="button" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add</button>
					</div>
				</div>
				</div>
			</div>
  
			<section class="content-header">
				<div class="container-fluid">
				  <div class="row">
					<div class="col-sm-6">
					  <h1>Kanban Board</h1>
					</div>
					<div class="col-sm-6 d-none d-sm-block">
					  <ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Kanban Board</li>
					  </ol>
					</div>
				  </div>
				</div>
			  </section>
			<section class="content pb-3">
			  <div class="container-fluid h-100">
				
				<div class="card card-row card-primary">
				  <div class="card-header">
					<h3 class="card-title">
					  To Do
					</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#staticBackdrop">
							<i class="far fa-plus-square"></i>
						</button>
					  </div>
				  </div>
				  <div class="status card-body" id="one">
					
						{%for item in items%}
						{%if item.product.column == 1%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
				  </div>
				</div>
				<div class=" card card-row card-default">
				  <div class="card-header bg-info">
					<h3 class="card-title">
					  In Progress
					</h3>
				  </div>
				  <div class="status card-body" id="two">
					
						{%for item in items%}
						{%if item.product.column == 2%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
					
				
				  </div>
				</div>
				<div class="card card-row card-success">
				  <div class="card-header">
					<h3 class="card-title">
					  Done
					</h3>
				  </div>
				  <div class="status card-body" id="three">
						{%for item in items%}
						{%if item.product.column == 3%}
						<div class="todo card card-primary card-outline" draggable="true" id="{{item.product.id}}" >
							<div class="card-header">
							  <h5 class="card-title">{{item.product.name}}</h5>
							  <div class="card-tools">
								<a href="#" class="btn btn-tool btn-link">#5</a>
								<a href="#" class="btn btn-tool">
								  <i class="fas fa-pen"></i>
								</a>
							  </div>
							</div>
						  </div>
						
						{%endif%}
						{%endfor%}
				  </div>
				</div>
			  </div>
			</section>
		  </div>
		
{%endblock%}
{%block javascript%}
	<!-- <script src="{%static 'kanban_board/js/main.js'%}" type="module"></script> -->
	<script>
		const todos = document.querySelectorAll(".todo");
			const all_status = document.querySelectorAll(".status");
			let draggableTodo = null;

			todos.forEach((todo) => {
			todo.addEventListener("dragstart", dragStart);
			todo.addEventListener("dragend", dragEnd);
			});

			function dragStart() {
			draggableTodo = this;
			setTimeout(() => {
				this.style.display = "none";
			}, 0);
			console.log("dragStart");
			console.log(draggableTodo);
			}

			function dragEnd() {
			draggableTodo = null;
			setTimeout(() => {
				this.style.display = "block";
			}, 0);
			console.log("dragEnd");
			}

			all_status.forEach((status) => {
			status.addEventListener("dragover", dragOver);
			status.addEventListener("dragenter", dragEnter);
			status.addEventListener("dragleave", dragLeave);
			status.addEventListener("drop", dragDrop);
			});

			function dragOver(e) {
			e.preventDefault();
			//   console.log("dragOver");
			}

			function dragEnter() {
			this.style.border = "1px dashed #ccc";
			console.log("dragEnter");
			}

			function dragLeave() {
			this.style.border = "none";
			console.log("dragLeave");
			}

			function dragDrop() {
				console.log("droped");
			this.style.border = "none";
			this.appendChild(draggableTodo);
			switch(this.id){
				case 'one' :
					var column = 1;
					break;
				case 'two':
					var column = 2;
					break;
				case 'three':
					var column = 3;
					break;
			}
			
			
			var productId = draggableTodo.id;

			var csrf = $('input[name=csrfmiddlewaretoken]').val();
			$.ajax({
				url:"move/",
				method:'post',
				data:{
				column_id:column,
				product_id:productId,
				csrfmiddlewaretoken:csrf
				},
				success:function(responce){
				console.log('Update Success');
				}
			})
			}

		$(document).ready(function(){	
			var selectedProIds = []
			$(':checkbox:checked').each(function(i){
				$(this).prop( "checked", false );
			})
			$('#addProduct').click(function(){
				selectedProIds = []
				$(':checkbox:checked').each(function(i){
					selectedProIds[i]=$(this).val()
				})
				if(selectedProIds.length===0){
					alert('Please select the product')
					
				  }else{
					$('#staticBackdrop').modal('hide')
					console.log(selectedProIds)
					$.ajax({
						url:"{%url 'add_product_board'%}",
						method:'get',
						data:{
							selectedProIds,
						},
						dataType: "json",
						success:function(responce){
						  for(var i=0;i<selectedProIds.length;i++){
							$('#select'+selectedProIds[i]).hide();
						  }
						  for(var i=0;i<responce.id.length;i++){
							  console.log(responce.id[i])
							  todo =`
								<div class="todo card card-primary card-outline" draggable="true" id="${responce.id[i]}" >
									<div class="card-header">
									<h5 class="card-title">${responce.name[i]}</h5>
									<div class="card-tools">
										<a href="#" class="btn btn-tool btn-link">#5</a>
										<a href="#" class="btn btn-tool">
										<i class="fas fa-pen"></i>
										</a>
									</div>
									</div>
								</div>
								`
								$('#one').append(todo);
								$('#'+responce.id[i]).on('dragstart',dragStart)
								$('#'+responce.id[i]).on('dragend',dragEnd)

								$(':checkbox:checked').each(function(i){
									$(this).prop( "checked", false );
								})
								selectedProIds=[];

						  }
						}
					  })
				  }
			})
		})
	</script>
{%endblock%}
</body>
</html>
